@import 'jquery.terminal.css';
@import '_mixins';


html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

@-webkit-keyframes animateBody {
  from { background-position: 0 bottom; }
  to { background-position: 100% bottom; }
}
@-moz-keyframes animateBody {
  from { background-position: 0 bottom; }
  to { background-position: 100% bottom; }
}
@keyframes animateBody {
  from { background-position: 0 bottom; }
  to { background-position: 100% bottom; }
}



body {
  background-image: url(images/flappybg.png);
  background-repeat: repeat-x;
  background-position: 0px bottom;
  background-color: rgb(112, 198, 211);



  &.play {
    -webkit-animation-name: animateBody ;
    -webkit-animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-direction: reverse;
    animation-name: animateBody ;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: reverse;
  }

}




.terminalContainer {

  .rounded(5px);

  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
}