@import 'jquery.terminal.css';

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}


body {
  background-image: url(images/flappybg.png);
  background-repeat: repeat-x;
  background-position: 0px bottom;
  background-color: rgb(112, 198, 211);
}


.terminalContainer {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
}